In [81]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 20)

In [82]:
terry_stops = pd.read_csv('./Terry_Stops.csv')

In [83]:
terry_stops.head()

,Subject Age Group,Subject ID,GO / SC Num,Terry Stop ID,Stop Resolution,Weapon Type,Officer ID,Officer YOB,Officer Gender,Officer Race,Subject Perceived Race,Subject Perceived Gender,Reported Date,Reported Time,Initial Call Type,Final Call Type,Call Type,Officer Squad,Arrest Flag,Frisk Flag,Precinct,Sector,Beat
0,-,-1,20140000120677,92317,Arrest,None,7500,1984,M,Black or African American,Asian,Male,2015-10-16T00:00:00,11:32:00,-,-,-,SOUTH PCT 1ST W - ROBERT,N,N,South,O,O2
1,-,-1,20150000001463,28806,Field Contact,None,5670,1965,M,White,-,-,2015-03-19T00:00:00,07:59:00,-,-,-,NaN,N,N,-,-,-
2,-,-1,20150000001516,29599,Field Contact,None,4844,1961,M,White,White,Male,2015-03-21T00:00:00,19:12:00,-,-,-,NaN,N,-,-,-,-
3,-,-1,20150000001670,32260,Field Contact,None,7539,1963,M,White,-,-,2015-04-01T00:00:00,04:55:00,-,-,-,NaN,N,N,-,-,-
4,-,-1,20150000001739,33155,Field Contact,None,6973,1977,M,White,Black or African American,Male,2015-04-03T00:00:00,00:41:00,-,-,-,NaN,N,N,-,-,-

In [84]:
terry_stops.shape

(43496, 23)

In [85]:
terry_stops['Call Type'].value_counts()

911                              19166
-                                12828
ONVIEW                            8205
TELEPHONE OTHER, NOT 911          3017
ALARM CALL (NOT POLICE ALARM)      274
TEXT MESSAGE                         3
PROACTIVE (OFFICER INITIATED)        2
SCHEDULED EVENT (RECURRING)          1
Name: Call Type, dtype: int64

In [86]:
terry_stops['Subject Age Group'].value_counts()

26 - 35         14424
36 - 45          9140
18 - 25          8877
46 - 55          5595
56 and Above     2183
1 - 17           1906
-                1371
Name: Subject Age Group, dtype: int64

In [95]:
terry_stops['Arrested'] = np.where(terry_stops['Stop Resolution'] == 'Arrest', 1, 0)

## Data Cleaning

In [88]:
# Drop useless columns 

cols = ['Subject ID', 'Terry Stop ID', 'GO / SC Num', 'Officer ID', 'Stop Resolution']

df = terry_stops.drop(columns=cols, axis=1)

In [89]:
df.head()

,Subject Age Group,Weapon Type,Officer YOB,Officer Gender,Officer Race,Subject Perceived Race,Subject Perceived Gender,Reported Date,Reported Time,Initial Call Type,Final Call Type,Call Type,Officer Squad,Arrest Flag,Frisk Flag,Precinct,Sector,Beat,Arrested
0,-,None,1984,M,Black or African American,Asian,Male,2015-10-16T00:00:00,11:32:00,-,-,-,SOUTH PCT 1ST W - ROBERT,N,N,South,O,O2,1
1,-,None,1965,M,White,-,-,2015-03-19T00:00:00,07:59:00,-,-,-,NaN,N,N,-,-,-,0
2,-,None,1961,M,White,White,Male,2015-03-21T00:00:00,19:12:00,-,-,-,NaN,N,-,-,-,-,0
3,-,None,1963,M,White,-,-,2015-04-01T00:00:00,04:55:00,-,-,-,NaN,N,N,-,-,-,0
4,-,None,1977,M,White,Black or African American,Male,2015-04-03T00:00:00,00:41:00,-,-,-,NaN,N,N,-,-,-,0

In [90]:
# map true/false values

df['Arrest Flag'] = np.where(df['Arrest Flag'] == 'Y', 1, 0)
df['Frisk Flag'] = np.where(df['Frisk Flag'] == 'Y', 1, 0)

In [97]:
X = df.drop('Arrested', axis=1)
y = df.Arrested

## Feature Engineering

In [91]:
df.dtypes

Subject Age Group           object
Weapon Type                 object
Officer YOB                  int64
Officer Gender              object
Officer Race                object
Subject Perceived Race      object
Subject Perceived Gender    object
Reported Date               object
Reported Time               object
Initial Call Type           object
Final Call Type             object
Call Type                   object
Officer Squad               object
Arrest Flag                  int64
Frisk Flag                   int64
Precinct                    object
Sector                      object
Beat                        object
Arrested                     int64
dtype: object

In [92]:
df['Officer Age'] = pd.to_datetime(df['Reported Date']) - pd.to_datetime(df['Officer YOB'])

In [93]:
# pd.get_dummies(pd['Office Race'], drop_first=True)

df =  pd.get_dummies(df, columns=['Officer Race'], drop_first=True)
df =  pd.get_dummies(df, columns=['Subject Perceived Race'], drop_first=True)
df =  pd.get_dummies(df, columns=['Subject Perceived Gender'], drop_first=True)